.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 15px;

}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.tasks__item {
    display: grid;
    word-wrap: break-word;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgb(238, 238, 238)
}

.hide {
    background-color: teal;
}

.tasksList {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

.formInput {
    padding: 10px;
}

.tasks__item {
    display: grid;
    word-wrap: break-word;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgb(238, 238, 238)
}

.tasksHide {
    display: none;
}