.tasks__contentDone {
    text-decoration: line-through;
}

.tasksHide {
    display: none;
}



.newTaskButton {
    background-color: teal;
    color: white;
    font-size: 20px;
    border-style: none;
    padding: 11px;
    border-radius: 5px;
    transition: 1s;
}

.newTaskButton:hover {
    transform: scale(1.1);
}

.tasksButtons {
    color: teal;
    background-color: white;
    border-style: none;
    transition: 1s;
    text-align: center;
}

.tasksButtons:hover {
    color: hsl(180, 100%, 40%);
}

:disabled {
    color: rgb(182, 182, 182)
}

html {
    box-sizing: border-box;
}

*, *::after, ::before {
    box-sizing: inherit;
}